<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="myApp" ng-controller="todoCtrl">
    <a href="#!/" class="btn btn-link">home</a>
    <h2>Todo List</h2>

    <form ng-submit="vm.todoAdd()">
        <input type="text" ng-model="vm.todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>

    <br>

    <h3>My Todo List</h3>
    <div ng-repeat="x in vm.todoList">
        <input type="checkbox" name="myTodo" ng-change="vm.updateText(x.todoText)" ng-model="x.done"> <span ng-bind="x.todoText"></span>
    </div>
    </br>
    </br>
    </br>
    <p><button ng-click="vm.remove()">Remove selected</button>
        </td>
        <button ng-click="vm.update()">Update selected</button>
    </p>


    </br>
    <p><button ng-click="vm.updateUser()">Save Todo List</button></p>



</body>

</html>